{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Description and Instructions</h1>
    <p class="lead">Read this for a quick start guide</p>
</div>

<h2></h2>
<h3></h3>

<p>1. Start by clicking the blue button in order to input your UID, Username and Password</p>

<p>2. Your UID will be the URL, web adress or whatever you put into the google search bar to make the website or application pop up</p>

<p>3. Your Username will be the name you use for that specific application. We advise you use different usernames for each application to avoid confusiuon</p>

<p>4. Your Password will be the code you need to use to enter the appliction or website. We advise you use different passwords for each appliction ot avoid confusion</p>

<p>5. Once your data has been inputted into the prompts, simply click submit and you will be able to see all the information you have submitted thus far</p>

<p>6. If you have any other specific questions or concerns, feel free to reach out from our contact page!</p>

    

{% endblock %}
