{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Contact and Information</h1>
    <p class="lead">Connect with us with the methods below</p>
</div>

<address>349737197@gapps.yrdsb.ca (P.S. if you actually email me about this project im either gonna send you a meme or just ignore it)</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">nosupportforyou</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">idonthaveamarketer:(</a>
</address>

{% endblock %}
