{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <center>
        <h1>Data Inputs</h1>
        <p class="lead">Input your data below</p>
    </center>
</div>

<form action="/data" method="POST">
    <center>
        <p><input type="text" placeholder="URL" name="Web Address : " /></p>
        <p><input type="text" placeholder="Username" name="Username : " /></p>
        <p><input type="text" placeholder="Password" name="Password : " /></p>
        <p><input type="submit" value="Submit" /></p>
    </center>
</form>
{% endblock %}